/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 app/assets/stylesheets

 body {
    /* font of the text */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
     background-color: #f1f1f1;
  }
  
  .testimonials{
    background-image: url("questionnaire.jpeg");
    background-color: blue;    
    padding: 40px 0;
    color: #d1cbcb;
    text-align: center;
    background-size: cover;
  }
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }


  
  .testimonials1 {
    background-image: url("result-back.jpeg");
    padding: 40px 0;
    color: #d1cbcb;
    background-size: cover;
    height: 300px;
  }
  
  .inner1 {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 50px;
    top: 50%;
    left: 50%;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .bottom-image {
    top: calc(28% - 125px); /* move the image up by half its height */
    z-index: 1; /* add this to bring the image to the front */
    border-radius: 50%; 
    position: absolute; 
    left: 79%; 
    transform: translateX(-50%); 
  }
  
  .bottom-image img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }
  
  
  .description {
    max-width: 1200px;
    overflow: hidden;
    padding: 0 20px;
    top: 50%;
    left: 50%;
    width: 800px;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 35px;
    margin-left: 40px;;
  }
  
  .description h2 {
    font-size: 24px;
    margin-left: 110px;;

  }
  canvas#confetti {
    position: fixed;
    width: 100%; 
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    pointer-events: none;
  }



  .border{
    width: 160px;
    height: 5px;
    background: darkblue; /*gci guyn*/
    margin: 26px auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: #fff;
    padding: 30px;
  }

  
  
  @media screen and (max-width:960px) {
  .col{
    flex: 100%;
    max-width: 80%;
  }
  }
   
  @media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
  }
  
  *{
    margin: 0;
    padding: 0;
  }
  
  
   .module {
    background-image: url("welcome-page.jpeg");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat; 
  }
  
  .module > header > h2 {
    margin: 0;
    color: rgb(168, 163, 151);
    margin-top: 80px;
    z-index: 1;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-size: 2rem; 
  }
  
  .module > header > h4 {
    margin: 0;
    color: rgb(168, 163, 151);
    margin-top: 530px;
    z-index: 1;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    font-size: 1.5rem; 
  }
  
  .no-underline {
    text-decoration: none;
    color: rgb(176, 156, 108);
  }
  
  .module > header > h5 {
    margin: 0;
    color: rgb(168, 163, 151);
    z-index: 1;
    margin-top: 5px;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    font-size: 1rem; 
  }
  
  @media screen and (min-width: 768px) {
    .description {
      max-width: 800px;
    }
  }

@media screen and (max-width: 768px) {
  .module > header > h2 {
    font-size: 2rem;
    margin-top: 50px;
  }
  
  .module > header > h4 {
    font-size: 1rem;
  }
  
  .module > header > h5 {
    font-size: 0.8rem;
    margin-top: 2px;
  }
}

@media screen and (max-width: 480px) {
  .module > header > h2 {
    font-size: 1.5rem;
    margin-top: 100px;
  }
  
  .module > header > h4 {
    font-size: 0.8rem;
  }
  
  .module > header > h5 {
    font-size: 0.6rem;
    margin-top: 1px;
  }
}

@media screen and (max-height: 765px) {
  .module > header > h2 {
    font-size: 2rem;
    margin-top: 71px;
  }
  
  .module > header > h4 {
    font-size: 1.5rem;
    margin-top: 460px;
    
  }
  .module > header > h5 {
    font-size: 0.8rem;
    margin-top: 2px;
  }
}

@media screen and (max-height: 480px) {
  .module > header > h2 {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  
  .module > header > h4 {
    font-size: 0.8rem;
    margin-top: 100px;
  }
  
  .module > header > h5 {
    font-size: 0.6rem;
    margin-top: 1px;
  }
}

  .module {
    background-position: center center;
    background-size: cover;
  }
  
  .module > header {
    min-height: 100vh;
  }  

  .submit-button {
    background-color: #0f4682;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .submit-button:hover {
    background-color: #0a325d;
  }